.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow {
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}
