<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post - We Are Stars</title>
    <link rel="stylesheet" href="../css/base/reset.css">
    <link rel="stylesheet" href="../css/base/variables.css">
    <link rel="stylesheet" href="../css/base/mixins.css">
    <link rel="stylesheet" href="../css/layout/header.css">
    <link rel="stylesheet" href="../css/layout/footer.css">
    <link rel="stylesheet" href="../css/layout/navbar.css">
    <link rel="stylesheet" href="../css/components/cards.css">
    <link rel="stylesheet" href="../css/components/buttons.css">
</head>
<body>
    <div id="navbar"></div>
    <div id="header"></div>
    <main>
        <article class="blog-post">
            <h2>Blog Post Title</h2>
            <p>Author: John Doe</p>
            <p>Date: January 1, 2024</p>
            <section class="post-content">
                <p>This is the content of the blog post...</p>
            </section>
        </article>
    </main>
    <div id="footer"></div>
    <script src="../js/script.js"></script>
    <script src="../js/pages/blog.js"></script>
</body>
</html>
